/************************** GENERAL CSS RULES **************************
 *
 * PLEASE DO NOT PUT THE CSS RULES FOR YOUR VIZ HERE!! 
 *
 * Make another section like this one and prefix all of the selectors
 * with the ID if the div element for your tab.
 *
 * For an example, refer to the SONGS CSS RULES section of this same
 * file.
 */

body {
  font-family: "Roboto Slab", "sans-serif";
  font-size: 16px;
  background-color: #141414;
  color: #2a2b2e;
  margin: 0;
  height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #141414;
  padding: 25px 100px;
}

main {
  height: 100%;
  padding-right: 25px;
}

h1 {
  color: #F0F0F0;
  font-family: "Roboto Slab", "serif";
  font-size: 56px;
  margin: 0;
  font-weight: normal;
}

h2 {
  color: #F0F0F0;
  font-family: "Roboto Slab", "serif";
  font-weight: normal;
  width: 100%;
  text-align: center;
}

h3 {
  color: #f3f3f3;
  font-weight: normal;
  margin-top: 30px;
}

svg {
  background-color: #ffffff;
}

button {
  padding: 10px 30px;
  color: #000;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  font-family: "Helvetica", "sans-serif";
  font-size: 16px;
}

.viz-container {
  height: 100%;
  padding: 0 100px;
}

.tab-container {
  height: 70px;
  background: #5e3764;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 100px;
}

.tab-link {
  background-color: #ffffff00;
  border-radius: 12px;
  color: white;
  border: none;
  height: 45px;
}

.tab-link:hover {
  background: #ffffff11;
}

/************************** DROPDOWN CSS RULES **************************
 *
 * All of the CSS rules for the dropdown menus.
 */

.dropdown-container {
  width: 250px;
}

.dropdown-container div {
  display: flex;
  height: 40px;
  gap: 5px;
  margin-top: 10px;
}

.dropdown-select-btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(31, 30, 30, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-select-btn .dropdown-btn-text {
  font-size: 17px;
  font-weight: 400;
  color: white;
}

.dropdown-select-btn .dropdown-arrow-dwn {
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.dropdown-select-btn.open .dropdown-arrow-dwn {
  transform: rotate(-180deg);
}

.dropdown-list-items {
  position: absolute;
  width: 218px;
  margin-top: 4px;
  border-radius: 8px;
  padding: 16px;
  background-color: #202020;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
  overflow-y: auto;
  max-height: 400px;
  z-index: 10;
}

.dropdown-select-btn.open ~ .dropdown-list-items {
  display: block;
}

.dropdown-list-items .dropdown-item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}

.dropdown-list-items .dropdown-item:hover {
  background-color: #00000033;
}

.dropdown-item .dropdown-item-text {
  font-size: 14px;
  font-weight: 400;
  color: #F0F0F0;
}

.dropdown-item .dropdown-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}

.dropdown-item.checked .dropdown-checkbox {
  background-color: #5e3764;
  border-color: #5e3764;
}

.dropdown-checkbox .dropdown-check-icon {
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.dropdown-item.checked .dropdown-check-icon {
  transform: scale(1);
}

.dropdown-select-all {
  border-radius: 8px;
  border: 2px solid #5E3764;
  background : transparent;
  color: white;
  font-size: 11pt;
  padding: unset;
  padding-left: 4px;
  padding-right: 4px;
}

.dropdown-remove-all {
  border-radius: 8px;
  background: #D74F4F;
  color: white;
  font-size: 11pt;
  padding: unset;
  padding-left: 4px;
  padding-right: 4px;
}

/************************** SLIDER CSS RULES **************************
 *
 * All of the CSS rules for the time range slider.
 */

 .irs-from {
  background-color: #5e3764 !important;
}

.irs-from::before {
  border-top-color: #5e3764 !important;
}

.irs-to {
  background-color: #5e3764 !important;
}

.irs-to::before {
  border-top-color: #5e3764 !important;
}

.irs-single {
  background-color: #5e3764 !important;
}

.irs-single::before {
  border-top-color: #5e3764 !important;
}

.irs-bar {
  background-color: #5e3764 !important;
}

.irs-handle {
  border : 4px solid #5e3764 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #151515;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e3764; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #352438; ;
}

/************************** OVERVIEW CSS RULES **************************
 *
 * All of the CSS rules for the "Overview" tab.
 *
 * Every selector is prefixed by #songs and therefore only applies to
 * elements within the div associated with the tab.
 */

#overview h2 {
  font-weight: bold;
}

#overview h3 {
  font-weight: bold;
}

#overview-viz-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px 12px;
}

#overview #overview-panel {
  width: 20%;
  padding: 20px;
  visibility: visible;
  background-color: #292929;
  border-radius: 16px;
  color: white;
  border: 1px solid #A6A6A6;
}

#overview #overview-media-selection {
  width: 20%;
  padding: 10px;
  visibility: visible;
  background-color: #292929;
  border-radius: 16px;
  color: white;
}

#overview .overview-graph-and-controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 60%;
}

#overview-controls {
  background-color: #292929;
  border-radius: 16px;
  padding: 0px 16px;
  width: 350px;
}

#overview #overview-controls-sort-by {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#overview #overview-controls-media-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#overview .categories {
  margin-left: 50px;
}

#overview .tooltip {
  position: relative;
  display: inline-block;
  background-color: #000;
  color: #f6f6f6;
  width: auto;
}

#overview .tooltip .tooltiptext {
  text-align: center;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

#overview .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#overview .overview-svg {
  background-color: #292929;
  border-radius: 16px;
  padding-top: 70px;
  overflow: visible;
}

#overview #overview-panel.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#overview #overview-panel .overview-tooltip-title {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

#overview #overview-panel .overview-tooltip-subtitle {
  font-family: 'Roboto';
  font-size: 16px;
  text-align: center;
  color: #A4A4A4;
  padding-top: 3px;
  padding-bottom: 15px;
}

#overview #overview-panel .overview-tooltip-main-text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-top: 10px
}

#overview #overview-panel .overview-tooltip-sub-text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: none;
  color: white;
  padding-top: 3px;
}

/************************** SONGS CSS RULES **************************
 *
 * All of the CSS rules for the "Songs" tab.
 *
 * Every selector is prefixed by #songs and therefore only applies to
 * elements within the div associated with the tab.
 */

#songs #songs-viz-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

#songs #songs-plot-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#songs #songs-panel {
  width: 16vw;
  background-color: #292929;
  grid-row: 1 / span 2;
  grid-column: 2;
  border: 1px solid #A6A6A6;
  border-radius: 16px;
  padding: 20px;
}

#songs #songs-panel.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#songs #songs-panel .songs-tooltip-title {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

#songs #songs-panel .songs-tooltip-subtitle {
  font-family: 'Roboto';
  font-size: 16px;
  text-align: center;
  color: #A4A4A4;
  padding-top: 3px;
  padding-bottom: 15px;
}

#songs #songs-panel .songs-tooltip-main-text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-top: 10px
}

#songs #songs-panel .songs-tooltip-sub-text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: none;
  color: white;
  padding-top: 3px;
}

#songs #songs-panel .songs-tooltip-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#songs #songs-panel .songs-tooltip-list {
  font-family: 'Roboto';
  font-size: 16px;
  color: white;
  padding-left: 22px;
  margin-top: 10px;
}

#songs #songs-control {
  width: 50vw;
  background-color: #292929;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0px;
}

#songs #songs-control .songs-dropdown {
  width: 250px;
}

#songs #songs-control .songs-dropdown-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#songs #songs-control .songs-slider {
  width: 400px;
}

#songs #songs-control .songs-slider-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#songs .axis-text {
  transform-origin: center;
  transform-box: fill-box;
  text-anchor: middle;
}

#songs #songs-sidebar-buttons {
  display: flex;
  justify-content: center;
  padding-right: 300px;
}

#songs .viz-container {
  padding-top: 10px;
  background-color: #151515;
}

#songs #songs-beeswarm-plot {
  width: 50vw;
  height: 25vw;
}

#songs .songs-svg {
  background-color: #292929;
  border-radius: 16px;
}

#songs .songs-button {
  width: 100px;
  margin: 20px 5px;
  padding: 6px;
  font-family: "Roboto";
  font-size: 14px;
}

#songs .points .selected {
  fill: #387DAF;
}

#songs .points circle:hover {
  fill: #387DAF;
}

/************************** VIDEO POSTING CSS RULES **************************
 *
 * All of the CSS rules for the "Video posting" tab.
 *
 * Every selector is prefixed by #video-posting and therefore only applies to
 * elements within the div associated with the tab.
 */

#video-posting .tick line {
  visibility: hidden;
}

#video-posting .axis path {
  opacity: 0;
}

/************************** VIDEO LENGTH CSS RULES **************************
 *
 * All of the CSS rules for the "Video length" tab.
 *
 * Every selector is prefixed by #video-length and therefore only applies to
 * elements within the div associated with the tab.
 */

#video-length #video-viz-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px;
}

#video-length #video-viz {
  width: 80%;
  height: 100%;
  padding: 10px;
  visibility: visible;
  border-radius: 16px;
  
}

#video-length #video-panel {
  width: 20%;
  padding: 10px;
  visibility: visible;
  background-color: #292929;
  border-radius: 16px;
  color: white;
  border: 1px solid #A6A6A6;
}

#video-length .video-viz-container {
  border-radius: 16px;
  height: 80%;
  color: #f6f6f6;
}

#video-length .video-viz-container svg {
  background-color: #292929;
  border-radius: 16px;
}

#video-length .controls-2 {
  width: 50%;
  text-align: center;
}

#video-length .controls-1 {
  width: 50%;
}

#video-length #video-controls {
  border-radius: 16px;
  padding: 0px 16px;
  height: 20%;
  display: flex;
  color: #f6f6f6;
  background-color: #292929;

}

/************************** HASHTAGS CSS RULES **************************
 *
 * All of the CSS rules for the "Hashtags" tab.
 *
 * Every selector is prefixed by #hashtags and therefore only applies to
 * elements within the div associated with the tab.
 */

#hashtags h2 {
  font-weight: bold;
}

#hashtags h3 {
  font-weight: bold;
}

#hashtags #hashtags-viz-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

#hashtags #hashtags-controls {
  width: 280px;
  background-color: #292929;
  border-radius: 16px;
  padding: 0 20px 20px 20px;
}

#hashtags #hashtags-controls-sort-by {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#hashtags .hashtags-viz-container {
  background-color: #292929;
  border-radius: 16px;
}

#hashtags .hashtags-viz-container svg {
  width: 50vw;
  padding-top: 70px;
  background: none;
  overflow: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: #000;
  color: #f6f6f6;
  width: auto;
}

.tooltip .tooltiptext {
  text-align: center;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 70%;
  margin-left: -110px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/************************** VIDEO POSTING CSS RULES **************************
 *
 * All of the CSS rules for the "Video posting" tab.
 *
 * Every selector is prefixed by #video-posting and therefore only applies to
 * elements within the div associated with the tab.
 */

#video-posting #vp-viz-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
}

#video-posting #vp-controls {
  width: 350px;
  background-color: #292929;
  border-radius: 16px;
  padding: 0 20px 20px 20px;
}

#video-posting .video-posting-graph {
  background-color: #292929;
  border-radius: 16px;
}

#video-posting .video-posting-graph svg {
  width: 50vw;
  padding-top: 70px;
  background: none;
  overflow: visible;
}

#video-posting .radio-buttons label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

#video-posting .radio-buttons input[type="radio"] {
  margin-right: 5px;
}
